.wrapper {
    margin: 0 var(--margin-width);
  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 52px; /* 108.333% */
    letter-spacing: -0.48px;
    span {
      color: #b3b3b3;
    }
  }
  .topics {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    .topic {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .number {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px; /* 120% */
        letter-spacing: -0.2px;
        display: block;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: radial-gradient(
            50% 50% at 50% 50%,
            #2563eb 0%,
            #46cdeb 100%
          ),
          #0181ef;
      }
    }
  }
}
