.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid #e5e5e5;
  border-top: 1px solid var(--black-10, #e5e5e5);
  .mapWrapper {
    flex: 1;
    display: flex;
    position: relative;
    .map {
      flex: 1;
      width: 100%;
      border: none;
    }
  }
}
