* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0181ef;
  --font-color: #1a1a1a;
  --margin-width: 80px;
  --input-border: #e5e5e5;
}

html {
  font-family: var(--font-golos-text);
  font-size: 14px;
  color: var(--font-color);
  line-height: 20px;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
