.wrapper {
  margin: 64px 168px 0 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    font-feature-settings: "liga" off;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
    margin-bottom: 32px;
  }
  .hobbies {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    .hobbie {
      padding: 10px 16px;
      font-size: 16px;
      line-height: 24px; /* 150% */
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      display: block;
      display: flex;
      align-items: center;
      gap: 4px;
      &.active {
        background-color: rgba(230, 242, 253, 1);
        color: rgba(1, 129, 239, 1);
      }
    }
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 205px;
    .SecondaryBtn {
      color: #0181ef;
      font-size: 16px;
      line-height: 24px; /* 150% */
    }
    .blackWhiteBtn {
      font-size: 16px;
      line-height: 24px; /* 150% */
      padding: 16px;
    }
  }
}
